@import "./header.css";
@import "footer.css";
@import "./pdp/banner.css";
@import "./pdp/product-slider.css";
@import "./pdp/result-silder.css";

html {
  font-size: 10px;
}
/* 1rem = 10px */
.header__desc,
.nav__link {
  color: var(--black);
}

.header__hr {
  background-color: var(--black);
}
.product-detail-wrapper {
  margin-top: 14.3rem;
}

.product-detail__breadcrumbs {
  margin-bottom: 4rem;
}

.product-detail__breadcrumbs a {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;

  color: #555555;

  opacity: 0.5;
}

.product-detail__breadcrumbs a::after {
  content: "/";
  margin: 0 0.8rem;
}
.product-detail__breadcrumbs a:nth-child(3) {
  color: var(--black);
  opacity: 1;
}
.product-detail__breadcrumbs a:nth-child(3)::after {
  content: "";
}

.product-detail__body {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0 2.4rem;
}
.product-detail__galary {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 0 2.4rem;
}
.galary__thubmnails img {
  width: 100%;
}
.galary__thubmnails img:hover {
  cursor: pointer;
}
.galary__stage img {
  width: 100%;
}
.product-detail {
  padding-left: 5.4rem;
  padding-right: 10.9rem;
}
.product__title1 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 140%;
  text-transform: uppercase;
  color: var(-black);
  margin-bottom: 0.8rem;
}
.product__price {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 160%;
  color: var(--black);
}
.product__desc {
  margin-top: 2.4rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
}

.product__desc span {
  font-weight: 500;
}
.product-detail h4 {
  margin-top: 2.4rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--black);
}
.product-detail h4 span {
  font-weight: 300;
}
.product__size-wrapper {
  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
  width: 27.1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 0 1.6rem;
}
.product__size-wrapper span {
  border: 1px solid #7373d7;
  padding: 0.8rem 1.6rem;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: var(--black);
}
.product__size-wrapper span:hover {
  cursor: pointer;
}
.product__size-wrapper span:nth-child(2) {
  opacity: 0.5;
}
.product__size-wrapper span:nth-child(3) {
  opacity: 0.5;
  text-decoration: line-through;
}

.product__select-price {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.product__select-price label {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
  display: flex;
  margin-bottom: 0.8rem;
}
.product__select-price input {
  margin-right: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
}
.product__add-to-cart {
  display: grid;
  grid-template-columns: 33% 63%;
}
.product__add-to-cart-ctrl {
  border-top: 0.1rem solid #b7b7b7;
  border-bottom: 0.1rem solid #b7b7b7;
  border-left: 0.1rem solid #b7b7b7;
  width: 16.1rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}
.product__add-to-cart-ctrl span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
}
.product__add-to-cart-ctrl i {
  font-size: 1.4rem;
}
.product__add-to-cart-ctrl i:hover {
  color: var(--blue);
  cursor: pointer;
}
.product__add-to-cart-btn {
  width: 30.2rem;
  height: 5.5rem;
  background-color: var(--blue);
  border: none;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 160%;
  color: var(--white);
  text-transform: uppercase;
}
.product__add-to-cart-btn:hover {
  cursor: pointer;
}

.product__add-to-cart-desc {
  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
}
.product__add-to-cart-desc a {
  text-decoration-line: underline;

  color: var(--blue);
}

.product__QA {
  border-bottom: 0.1rem solid rgba(85, 85, 85, 0.37);
}
.product__question {
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* opacity: 0.3; */
  border-top: 0.1rem solid rgba(85, 85, 85, 0.37);
}
.product__answer {
  opacity: 0;
  padding-bottom: 1rem;
}
.opacity-1 {
  opacity: 1;
}

.product__question i {
  color: var(--blue);
  font-size: 1.4rem;
}
.product__question i:hover {
  cursor: pointer;
}

.dn {
  display: none;
}
.db {
  display: block;
}
.product__question p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
}
.product__answer p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 160%;
  color: var(--black);
}

/* galary */

.galary {
  width: 628px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.galary .swiper {
  width: 100%;
  height: 691px;
  margin-left: auto;
  margin-right: auto;
}

.galary .mySwiper2 .swiper-slide img {
  width: 100%;
}
.galary .mySwiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
}
.galary .mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
}
.galary .mySwiper .swiper-slide img {
  width: 500%;
  height: 100%;
}

/* galary-mobile */

.galary--mobile {
  display: none;
  position: relative;
}
.galary--mobile .swiper {
  width: 375px;
  height: 500px;
  position: unset !important;
}
.galary--mobile .swiper-wrapper {
  width: 375px;
  height: 500px;
}
.galary--mobile .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
  left: 0;
  width: 100%;
}
.galary--mobile .swiper-button-next {
  right: 84px;
  top: 463px;
}
.galary--mobile .swiper-button-next::after {
  color: white;
  font-size: 18px;
}
.galary--mobile .swiper-button-prev::after {
  color: white;
  font-size: 18px;
}
.galary--mobile .swiper-button-prev {
  left: 78px;
  top: 463px;
}

.galary--mobile .swiper-slide {
  width: 375px !important;
  height: 500px !important;
  background-color: var(--blue);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.galary--mobile .swiper-slide img {
  display: block;
  width: 75%;
}

.drop_down {
  display: none;
}
.owl-carousel {
  width: 120%;
}
/* accardion */

@media (max-width: 600px) {
  .galary {
    display: none;
  }
  .galary--mobile {
    display: block;
  }
  .header__menu-btn,
  .header__cart-btn {
    color: var(--black);
  }
  .header__menu-btn:hover {
    color: var(--black);
  }

  .product-detail__body {
    grid-template-columns: 100%;
    gap: 2.4rem 0;
  }
  /* come back later */
  .mySwiper2 .swiper-slide img {
    width: 50%;
  }

  .product-detail {
    padding-left: 0;
    padding-right: 0;
  }
  .product__add-to-cart-btn {
    width: 25.2rem;
  }

  .banner {
    grid-template-columns: 100%;
    gap: 0 0;
  }
  .banner__image {
    display: none;
  }
  .banner__ingredients {
    padding: 0rem 1rem 0rem;
  }
  .banner__ingredients h2,
  .banner__ingredients p {
    text-align: left;
  }

  .ingredients__card-wrpapper {
    grid-template-columns: 100%;
  }

  .ingredients__card {
    background-color: var(--white);
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .ingredients__card h4 {
    margin-left: 0.8rem;
  }
  .drop_down {
    display: block;
    margin-left: auto;
  }
  .banner__ingredients a {
    margin: 0;
    margin-top: 4rem;
  }
  .product-slider .owl-nav {
    display: none;
  }
  .product-slider {
    padding: 5.1rem 0 3.4rem;
  }

  .product-slider__header h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-align: left;
    margin-bottom: 1.6rem;
  }

  .owl-slider-wrapper {
    width: 100%;
    padding-left: 8.2rem;
  }

  .owl-item {
    width: 16.8rem !important;
  }
  .owl-carousel .product-box {
    width: 16.8rem !important;
    height: 29.8rem;
  }
  .owl-carousel .product__title,
  .product__price {
    font-size: 14px;
  }

  .owl-carousel .product__badge--new,
  .product__badge--sale {
    width: 30px;
    height: 30px;
    font-weight: 400;
    font-size: 8px;
  }
  .product__add-to-cart-ctrl {
    width: 12.1rem;
  }
}
@media (max-width: 400px) {
  .product-detail__breadcrumbs {
    display: none;
  }
  .owl-carousel {
    left: -6.5rem;
    width: 120% !important;
  }

  .result-slider__wrapper .item {
    width: 25.4rem;
    height: 34rem;
}

.result-slider__wrapper .owl-item {
  width: 26.4rem !important;
}
.result-slider {
  padding: 0;
  padding-top: 3.3rem;
}
}
